.container {
  margin: 24px auto;
  max-width: 370px;
}

h3 {
  margin-top: 3em;
}



/* Form */
form label,input,select {
  width: 200px;
  display: block;
}

.form-group {
  margin: 1em 0;
}

#submit {
  margin: 2em 0;
}



/* Puppy list */
.puppy-list {
  margin: 1em;
}